<mat-toolbar class="nav">
    <img src="" class="logo">
    <mat-list-item routerLinkActive="active current">
      <a 
        matLine 
        routerLink="movies" 
        (click)="goToMoviesPage()" 
        style="margin-right: 15px; text-decoration: none;"
      >
        All Movies
      </a>
    </mat-list-item>
    <mat-list-item routerLinkActive="active current">
      <a 
        matLine 
        routerLink="profile" 
        (click)="goToProfilePage()" 
        style="margin-right: 15px; text-decoration: none;"
      >
        My Profile
      </a>
    </mat-list-item>
    <mat-list-item routerLinkActive="active current">
      <a 
        matLine 
        routerLink="logout" 
        (click)="logout()"
        style="text-decoration: none;"
      >
        LOGOUT
      </a>
    </mat-list-item>
  </mat-toolbar>