.nav {
    background-color: black;
    flex: 1 1 auto;
    position: fixed;
  }

  a {
    color: white;
    font-size: medium;
  }


  .profile-button:hover, .logout-button:hover, .myFlix-button:hover {
    color: lightgreen;
    font-size: large;
    transition-duration: 2s;
  }

  .spacer {
    flex: 1 1 auto;
  }
